
<div class="w3-row w3-padding-small">
    {{{genxml.data.genxml.lang.genxml.textbox.richtext}}}
</div>

{{#each genxml.data.genxml.imagelist.genxml}}
<div class="w3-col m3 w3-padding-small">
    <img class="sliderind{{@root.genxml.sessionparams.r.moduleref}}" src="{{thumbnailimageurl @root.genxml.sessionparams.r.engineurl hidden.imagepatharticleimage 640 400  }}" style="width:100%">
</div>
{{/each}}

{{! displayData this}}

